# Anthropic Claude API Key
CLAUDE_API_key=
# Application environment: development / staging / production
ENV=development

# Enable mock mode: true / false
MOCK_MODE=false

# MongoDB connection URI
MONGO_URI=

# USDA API Key
USDA_API_KEY=