# Anthropic Claude API Key
CLAUDE_API_key=your_claude_api_key_here

# Application environment: development / staging / production
ENV=development

# Enable mock mode: true / false
MOCK_MODE=false

# MongoDB connection URI
MONGO_URI=your_database_name

# USDA API Key
USDA_API_KEY=your_usda_api_key_here